body{
	background-color: #868e8e;
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%2331c9c2' fill-opacity='0.41'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.card-title{
	color: #007bff;
}
.bg-light {
    background-color: #0ecfed !important;
    background-image: linear-gradient(to bottom right, #0ecfed, #04ce98) !important;
}
.img-brand{
	width: 70px;
	height: 50px;
}
.main-content{
	margin-top: 93px;
}
.card,.marginfix{
	margin-bottom: 25px;
}
input[type="date"].form-control{
	line-height: 23px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom right, #0ecfed, #04ce98);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-list{
	border-radius: 4px;
	box-shadow: 0 .5rem 1rem #0ecfed !important;
}
.custom-text{
	margin: 0px;
	color: #fff;
	height: 57px;
	padding: 10px;
	text-align: center;
	font-weight: 501 !important;
	background-color: #0ecfed;
	border-bottom: 1px solid #e8e8e8;
}
.p-text{
	padding: 10px 20px;
	margin: 0px;
	background-color: #0ecfed;
	border-color: #17a2b8;
}
.p-text > a{
	color: #fff;
}
.p-text > a:hover{
	text-decoration: none;
}
.p-text:hover{
	background-image: linear-gradient(to bottom right, #0ecfed, #04ce98);
}

.content-media{
	font-size: 12px;
	/*font-weight: */
}

.main-list {
	padding-left: .5em;
}
.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}
.detail-content{
	border-right: 1px solid #e9ecef;
}
.blockquote-footer{
	padding-top: 9px;
}
.figure-caption, .text-muted, a{
	color: #fff;
}
footer{
	clear: both;
	background-color: #e9ecef;
	height: 70px;
	padding-top: 25px;
}