.cld-main{
  width: 100%;
}
.cld-main a{
  color: #333;
  font-weight: bold;
}
.cld-datetime{
  position: relative;
  width: 66%;
  min-width: 100px;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}
.cld-datetime .today{
  position: relative;
  float: left;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
}
.cld-nav{
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.cld-nav:hover{
  cursor: pointer;
}
.cld-nav:hover svg{
    fill: #666;
}
.cld-rwd{
  float: left;
}
.cld-fwd{
  float: right;
}
.cld-nav svg:hover{

}
.cld-labels, .cld-days{
  padding-left: 0;
}
  .cld-label, .cld-day{
    display: inline-block;
    width: 14.28%;
    text-align: center;
  }
  .cld-day.today .cld-number{
    display: inline-block;
    height: 34px;
    width: 33px;
    border-radius: 50px;
    background: #0ecfed;
    color: #fff;
  }
  .cld-day.disableDay{
    opacity: 0.5;
  }
  .cld-day.nextMonth, .cld-day.prevMonth{
    opacity: 0.33;
    border: 1px solid #0ecfed;
  }
  .cld-day.currMonth{
    border: 1px solid #0ecfed;
  }
  .cld-day.currMonth:hover{
    color: #fff;
    background-color: #0ecfed;
  }
    .cld-number{
      position: relative;
      margin: 5px;
      padding: 5px;
    }
      .cld-title{
        position: absolute;
        z-index: 5;
        display: none;
        top: 30px;
        left: 0;
        padding: 5px 10px;
        background: #fff;
        white-space: nowrap;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
      }
      .cld-number:hover .cld-title{
        display: block;
      }
      .cld-title::before{
        content: '';
        position: absolute;
        top: -7.5px; left: 7.5px;
        width: 0;
        height: 0;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid transparent;

        border-bottom: 7.5px solid #ccc;
      }
      .cld-number.eventday{
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50px;
        border: 1px solid #999;
      }
      .cld-number.eventday:hover{
        cursor: pointer;
        background: #eee;
      }
      .today .cld-number.eventday:hover{
        background: #888;
      }
